war/SmartWalletWebServiceService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions targetNamespace="http://smartwallet.com/" name="SmartWalletWebServiceService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://smartwallet.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://smartwallet.com/" schemaLocation="SmartWalletWebServiceService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="AddContact">
    <part name="parameters" element="tns:AddContact"/>
  </message>
  <message name="AddContactResponse">
    <part name="parameters" element="tns:AddContactResponse"/>
  </message>
  <message name="SQLException">
    <part name="fault" element="tns:SQLException"/>
  </message>
  <message name="GetUser">
    <part name="parameters" element="tns:GetUser"/>
  </message>
  <message name="GetUserResponse">
    <part name="parameters" element="tns:GetUserResponse"/>
  </message>
  <message name="CreateUser">
    <part name="parameters" element="tns:CreateUser"/>
  </message>
  <message name="CreateUserResponse">
    <part name="parameters" element="tns:CreateUserResponse"/>
  </message>
  <message name="AddTen">
    <part name="parameters" element="tns:AddTen"/>
  </message>
  <message name="AddTenResponse">
    <part name="parameters" element="tns:AddTenResponse"/>
  </message>
  <message name="GetBalance">
    <part name="parameters" element="tns:GetBalance"/>
  </message>
  <message name="GetBalanceResponse">
    <part name="parameters" element="tns:GetBalanceResponse"/>
  </message>
  <message name="DoTransaction">
    <part name="parameters" element="tns:DoTransaction"/>
  </message>
  <message name="DoTransactionResponse">
    <part name="parameters" element="tns:DoTransactionResponse"/>
  </message>
  <message name="UpdateBalance">
    <part name="parameters" element="tns:UpdateBalance"/>
  </message>
  <message name="UpdateBalanceResponse">
    <part name="parameters" element="tns:UpdateBalanceResponse"/>
  </message>
  <message name="ChangeRequestStatus">
    <part name="parameters" element="tns:ChangeRequestStatus"/>
  </message>
  <message name="ChangeRequestStatusResponse">
    <part name="parameters" element="tns:ChangeRequestStatusResponse"/>
  </message>
  <message name="GetCurrentDateTimeInISt">
    <part name="parameters" element="tns:GetCurrentDateTimeInISt"/>
  </message>
  <message name="GetCurrentDateTimeInIStResponse">
    <part name="parameters" element="tns:GetCurrentDateTimeInIStResponse"/>
  </message>
  <message name="GetContactOfUser">
    <part name="parameters" element="tns:GetContactOfUser"/>
  </message>
  <message name="GetContactOfUserResponse">
    <part name="parameters" element="tns:GetContactOfUserResponse"/>
  </message>
  <message name="SendUdhaarRequest">
    <part name="parameters" element="tns:SendUdhaarRequest"/>
  </message>
  <message name="SendUdhaarRequestResponse">
    <part name="parameters" element="tns:SendUdhaarRequestResponse"/>
  </message>
  <message name="GetLastNTransactions">
    <part name="parameters" element="tns:GetLastNTransactions"/>
  </message>
  <message name="GetLastNTransactionsResponse">
    <part name="parameters" element="tns:GetLastNTransactionsResponse"/>
  </message>
  <portType name="SmartWalletWebService">
    <operation name="AddContact">
      <input wsam:Action="http://smartwallet.com/SmartWalletWebService/AddContactRequest" message="tns:AddContact"/>
      <output wsam:Action="http://smartwallet.com/SmartWalletWebService/AddContactResponse" message="tns:AddContactResponse"/>
      <fault message="tns:SQLException" name="SQLException" wsam:Action="http://smartwallet.com/SmartWalletWebService/AddContact/Fault/SQLException"/>
    </operation>
    <operation name="GetUser">
      <input wsam:Action="http://smartwallet.com/SmartWalletWebService/GetUserRequest" message="tns:GetUser"/>
      <output wsam:Action="http://smartwallet.com/SmartWalletWebService/GetUserResponse" message="tns:GetUserResponse"/>
      <fault message="tns:SQLException" name="SQLException" wsam:Action="http://smartwallet.com/SmartWalletWebService/GetUser/Fault/SQLException"/>
    </operation>
    <operation name="CreateUser">
      <input wsam:Action="http://smartwallet.com/SmartWalletWebService/CreateUserRequest" message="tns:CreateUser"/>
      <output wsam:Action="http://smartwallet.com/SmartWalletWebService/CreateUserResponse" message="tns:CreateUserResponse"/>
      <fault message="tns:SQLException" name="SQLException" wsam:Action="http://smartwallet.com/SmartWalletWebService/CreateUser/Fault/SQLException"/>
    </operation>
    <operation name="AddTen">
      <input wsam:Action="http://smartwallet.com/SmartWalletWebService/AddTenRequest" message="tns:AddTen"/>
      <output wsam:Action="http://smartwallet.com/SmartWalletWebService/AddTenResponse" message="tns:AddTenResponse"/>
    </operation>
    <operation name="GetBalance">
      <input wsam:Action="http://smartwallet.com/SmartWalletWebService/GetBalanceRequest" message="tns:GetBalance"/>
      <output wsam:Action="http://smartwallet.com/SmartWalletWebService/GetBalanceResponse" message="tns:GetBalanceResponse"/>
      <fault message="tns:SQLException" name="SQLException" wsam:Action="http://smartwallet.com/SmartWalletWebService/GetBalance/Fault/SQLException"/>
    </operation>
    <operation name="DoTransaction">
      <input wsam:Action="http://smartwallet.com/SmartWalletWebService/DoTransactionRequest" message="tns:DoTransaction"/>
      <output wsam:Action="http://smartwallet.com/SmartWalletWebService/DoTransactionResponse" message="tns:DoTransactionResponse"/>
      <fault message="tns:SQLException" name="SQLException" wsam:Action="http://smartwallet.com/SmartWalletWebService/DoTransaction/Fault/SQLException"/>
    </operation>
    <operation name="UpdateBalance">
      <input wsam:Action="http://smartwallet.com/SmartWalletWebService/UpdateBalanceRequest" message="tns:UpdateBalance"/>
      <output wsam:Action="http://smartwallet.com/SmartWalletWebService/UpdateBalanceResponse" message="tns:UpdateBalanceResponse"/>
      <fault message="tns:SQLException" name="SQLException" wsam:Action="http://smartwallet.com/SmartWalletWebService/UpdateBalance/Fault/SQLException"/>
    </operation>
    <operation name="ChangeRequestStatus">
      <input wsam:Action="http://smartwallet.com/SmartWalletWebService/ChangeRequestStatusRequest" message="tns:ChangeRequestStatus"/>
      <output wsam:Action="http://smartwallet.com/SmartWalletWebService/ChangeRequestStatusResponse" message="tns:ChangeRequestStatusResponse"/>
    </operation>
    <operation name="GetCurrentDateTimeInISt">
      <input wsam:Action="http://smartwallet.com/SmartWalletWebService/GetCurrentDateTimeInIStRequest" message="tns:GetCurrentDateTimeInISt"/>
      <output wsam:Action="http://smartwallet.com/SmartWalletWebService/GetCurrentDateTimeInIStResponse" message="tns:GetCurrentDateTimeInIStResponse"/>
    </operation>
    <operation name="GetContactOfUser">
      <input wsam:Action="http://smartwallet.com/SmartWalletWebService/GetContactOfUserRequest" message="tns:GetContactOfUser"/>
      <output wsam:Action="http://smartwallet.com/SmartWalletWebService/GetContactOfUserResponse" message="tns:GetContactOfUserResponse"/>
      <fault message="tns:SQLException" name="SQLException" wsam:Action="http://smartwallet.com/SmartWalletWebService/GetContactOfUser/Fault/SQLException"/>
    </operation>
    <operation name="SendUdhaarRequest">
      <input wsam:Action="http://smartwallet.com/SmartWalletWebService/SendUdhaarRequestRequest" message="tns:SendUdhaarRequest"/>
      <output wsam:Action="http://smartwallet.com/SmartWalletWebService/SendUdhaarRequestResponse" message="tns:SendUdhaarRequestResponse"/>
      <fault message="tns:SQLException" name="SQLException" wsam:Action="http://smartwallet.com/SmartWalletWebService/SendUdhaarRequest/Fault/SQLException"/>
    </operation>
    <operation name="GetLastNTransactions">
      <input wsam:Action="http://smartwallet.com/SmartWalletWebService/GetLastNTransactionsRequest" message="tns:GetLastNTransactions"/>
      <output wsam:Action="http://smartwallet.com/SmartWalletWebService/GetLastNTransactionsResponse" message="tns:GetLastNTransactionsResponse"/>
      <fault message="tns:SQLException" name="SQLException" wsam:Action="http://smartwallet.com/SmartWalletWebService/GetLastNTransactions/Fault/SQLException"/>
    </operation>
  </portType>
  <binding name="SmartWalletWebServicePortBinding" type="tns:SmartWalletWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="AddContact">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </fault>
    </operation>
    <operation name="GetUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </fault>
    </operation>
    <operation name="CreateUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </fault>
    </operation>
    <operation name="AddTen">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetBalance">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </fault>
    </operation>
    <operation name="DoTransaction">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </fault>
    </operation>
    <operation name="UpdateBalance">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </fault>
    </operation>
    <operation name="ChangeRequestStatus">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetCurrentDateTimeInISt">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetContactOfUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </fault>
    </operation>
    <operation name="SendUdhaarRequest">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </fault>
    </operation>
    <operation name="GetLastNTransactions">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="SmartWalletWebServiceService">
    <port name="SmartWalletWebServicePort" binding="tns:SmartWalletWebServicePortBinding">
      <soap:address location="http://smartwallet02.appspot.com/SmartWalletWebServiceService"/>
    </port>
  </service>
</definitions>

